* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffb6c1;
}

.container {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 40px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    padding: 15px 40px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#sim {
    background: #4CAF50;
    color: white;
}

#nao {
    background: #ff4444;
    color: white;
    position: relative;
}
